body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  cursor: pointer;
  background-color: #2f48e9;
  transition: 0.3s;
}

/* .btn:focus {
  background-color: #2f48e9;
} */

.grid {
  border: 0.5px solid black;
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.square {
  border: 1px solid rgb(0, 0, 0);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.square--black {
  background-color: #b98f8f;
}

.btn {
  margin: 20px auto;
  padding: 10px 60px;
  background-color: rgb(131, 163, 203);
  border: 0;
  border-radius: 80px;
}

.btn--active {
  background-color: #2f48e9;
}
